.WrapperLoader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Loader {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

/* LOADER 1 */

.Loader:before, #loader-1:after{
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 6px solid transparent;
  border-top-color: #717791;
}

.Loader:before{
  z-index: 100;
  animation: spin 1s infinite;
}

.Loader:after{
  border: 6px solid #C4C4C4;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

