$caret-size: 20px;

$card-bg: #4F4F4F;
$accent: #fff;
$accent-light: #D6C385;

.post {
  + .post {
    margin-top: 2rem;
  }

  &__excerpt {
    position: relative;
  }
}

img {
  width: 100%;
}

.card {
  background-color: black;;
  padding: 2rem;

  &__text {
    color: $accent;
    height: 100px;
    padding: .7em 0;
    overflow: hidden;
  }

  &:before {
    content: '';
    display: block;
    width: $caret-size;
    height: $caret-size;
    background-color: $card-bg;
    position: absolute;
    transform: rotate(45deg);
    bottom: #{-$caret-size * 0.5};
  }

  &__header {
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
  }

  &__title {
    color: $accent;
    overflow: hidden;
  }

  &__date {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: $accent
  }

  &__link {
    text-decoration: none;
    color: $accent;
    transition: .3s;

    &:hover {
      color: $accent-light;
    }
  }
}

@media (min-width: 768px) {
  .post {
    display: flex;
    align-items: center;

    &__excerpt {
      width: 45%;
    }

    &__image {
      width: 55%;
    }

    &:nth-child(odd) {
      .post__excerpt {
        margin-right: -4rem;
      }

      .card {
        &:before {
          right: #{-$caret-size * 0.5};
        }
      }

      .card__header,
      .card__cta {
        text-align: right;
      }
    }

    &:nth-child(even) {
      .post__excerpt {
        order: 1;
        margin-left: -4rem;
      }

      .card {
        &:before {
          left: #{-$caret-size * 0.5};
        }
      }
    }
  }

  .card {
    &:before {
      bottom: auto;
    }
  }
}
