$accent-light: #D6C385;
$document-bg: #1D1B1C;
$accent: #B4A677;
$heading-font: 'Montserrat', sans-serif;
$body-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

.ActivePosts {
  background-color: $document-bg;
  color: white;
  font-family: $body-font;
  font-weight: 300;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  padding: 0;
}

@media (min-width: 768px) {
  .container {
    width: 60%;
  }
}
