.CreatePostForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    color: #fff;
  }

  form {
    width: 400px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 20px 0 40px 0;
    margin-top: 40px;
  }

  label {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 24px;
    font-weight: 100;
    text-transform: capitalize;
    color: #333333;
    text-align: center;
    margin-top: 20px;
  }

  input[type="title"] {
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 300px;
    margin: 30px auto;
    border: none;
    border-bottom: 1px solid #757575;
    outline: none;
    padding: 5px 0;
    font-size: 18px;
    transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    text-transform: capitalize;
  }

  input[type="title"]:focus {
    border-bottom: 1px solid #2A9AF2;
    box-shadow: 0 1px 0 0 #2A9AF2;
  }

  textarea[type="title"] {
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 300px;
    max-width: 380px;
    margin: 30px auto;
    border: none;
    border-bottom: 1px solid #757575;
    outline: none;
    padding: 5px 0;
    font-size: 18px;
    transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    text-transform: capitalize;
  }

  textarea[type="title"]:focus {
    border-bottom: 1px solid #2A9AF2;
    box-shadow: 0 1px 0 0 #2A9AF2;
  }

  input[type="submit"] {
    font-family: 'Roboto', sans-serif;
    background-color: #2A9AF2;
    border: none;
    color: #FFFFFF;
    border-radius: 3px;
    width: 300px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    padding: 10px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }

  input[type='submit']:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}

.fileUpload {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 0 50px 0 50px;
}

.fileUpload .fileSelect {
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: left;
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
}

.fileUpload .fileSelect .fileSelectButton {
  background: #dce4ec;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.fileUpload .fileSelect:hover {
  border-color: #34495e;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.fileUpload .fileSelect:hover .fileSelectButton {
  background: #34495e;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.fileUpload.active .fileSelect {
  border-color: #3fa46a;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.fileUpload.active .fileSelect .fileSelectButton {
  background: #3fa46a;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.fileUpload .fileSelect input[type=file] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.fileUpload .fileSelect {
  opacity: 0.65;
}

.fileUpload .fileSelect:hover {
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  text-align: left;
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .CreatePostForm {
    form {
      width: 320px;
    }
  }
}
